<div class="row mt-5">
  <div class="col-md-6 m-auto">
    {{> message }}
    <div class="card">
      <img src="https://images.unsplash.com/photo-1485546246426-74dc88dec4d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2338&q=80" class="card-img-top" alt="...">
      <div class="card-body mt-3">
        <h4 class="card-title">Login</h4>
        <form method="POST" action="/users/login">
          <div class="form-group mt-3">
            <label class="my-1" for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email">
          </div>
          <div class="form-group mt-3">
            <label class="my-1" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-light btn-block mt-3" style="background-color: #274b47;">Login</button>
            <a href="/auth/facebook" class="btn btn-outline-light btn-block" style="background-color: #477dc8;">Continue with Facebook</a>
          </div>
        </form>
        <p class="lead mt-4">
          Don’t have an account? <a href="/users/register">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>